.ipynb_checkpoints
*.pyc
.DS_Store
Untitled*.ipynb
images
draft*
http_cache.sqlite
stopwords.json
subjects-joined.csv
subjects-joined2.csv
subjects.csv
trove_photos_with_cc_licences-old.csv
trove_photos_with_cc_licences.csv
trove_photos_with_copyright_statements.csv
temp/*
cats.csv
a116159h.jpg
d1_10099h.jpg
.env
*.old
git_all_versions.sh
harvested-metadata-all.ndjson
harvested-metadata.ndjson
images-viewcopy.ndjson
manifests
*.ndjson

